.labelLogin{
    display: inline-block;
    width: 150px;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    margin-right: 16px

}

.login{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 32px;

    
}
.imgiconLogin{
    width: 30%;
    height:75%;
    margin-bottom: 16px
}

.btLogin{
    margin-top: 50px
}