.pageName{
    text-align: left;
    font-size: 35px;
    font-weight: bold;
    padding-left: 5%
}
.colorBar{
        background-color: tomato;
        font-weight: bold;
}
.center{
    text-align: center;
}
th{
    text-align: center;
}
.imgicon{
    width: 20px;
    height: 20px;
}
.ima_p{
    width: 220px;
    height: 130px
}


